.color-primary{
    color: rgb(190, 74, 74);
}
.font-50{
    font-size: 50px;
}

.tb-head>tr>td{
    border : 1px solid #000;
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.tb-body>tr>td{
    border: 1px solid #000;
}

p {
    background: yellowgreen;
    color: darkgreen;
}

.class1{
    background: yellow;
    color: green;
}