<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!-- 범위 반복문, 배열 반복문 처리 -->
    <h2>v-for</h2>
    <div id="app">
      <h2>객체배열 - 내용출력</h2>
      <ul>
        <li v-for="region in ssafy">지역 : {{region.name}}, {{region.count}}개반</li>
      </ul>
      <h2>객체배열 - 번호,내용 출력</h2>
      <ul>
        <li v-for="region, index in ssafy">
          번호 : {{index + 1}}, 지역 : {{region.name}}, {{region.count}}개반
        </li>
      </ul>
      <h2>객체배열 - 번호,내용 출력</h2>
      <ul>
        <li v-for="(region, index) in ssafy">
          번호 : {{index + 1}}, 지역 : {{region.name}}, {{region.count}}개반
        </li>
      </ul>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          ssafy: [
            {
              name: "광주",
              count: 2,
            },
            {
              name: "구미",
              count: 2,
            },
            {
              name: "대전",
              count: 3,
            },
            {
              name: "서울",
              count: 12,
            },
            {
              name: "부울경",
              count: 2,
            },
          ],
        },
      });
    </script>
  </body>
</html>
