mark.sky {
  background: linear-gradient(to top, #54fff9 20%, transparent 30%);
}

mark.orange {
  background: linear-gradient(to top, orange 20%, transparent 30%);
}

.divider {
  border: 0.5px solid lightgray;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}