<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="p1" class="com.ssafy.ws.Reader"/>
	<bean id="ba" class="com.ssafy.ws.BookAspect"/>
	
	<aop:config>
		<aop:aspect ref="ba">
			<aop:pointcut expression="execution(void doSomething())" id="ttt"/>
			<aop:before method="bbbefore" pointcut-ref="ttt"/>
			<aop:after-returning method="aaafterReturning" pointcut-ref="ttt"/>
			<aop:after-throwing method="aaafterThrowing" pointcut-ref="ttt"/>
			<aop:after method="aaafter" pointcut-ref="ttt"/>
		</aop:aspect>
	</aop:config>
</beans>
